@import"../assets/fonts/poppins/poppins.css";
@import"../assets/bootstrap/css/bootstrap.min.css";

body {
    font-family: "Poppins", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

.pe-cursor {
    cursor: pointer
}

:root {
    --theme: #fff
}

.Toastify__toast {
    border-radius: 20px; 
    }

.w-80px {
    width: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.w-50px {
    width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.icon-25 {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-height: 25px;
    max-width: 25px
}

.w-25px {
    width: 25px;
    height: 25px
}

.w-20px {
    width: 20px;
    height: 20px
}

.mw-150px {
    max-width: 150px
}

.ratio-1x1 {
    aspect-ratio: 1/1
}

.swal2-popup {
    font-family: inherit
  }

.swal-overlay {
    font-family: "Poppins", sans-serif
 }

.app-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    margin-bottom: 0px !important
}

.alert-overlay {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0) !important;
    z-index: 10000 !important
}

#react-confirm-alert {
    z-index: 1000
}

.react-confirm-alert>div {
    background-color: rgba(0, 0, 0, 0) !important
}